.header {
    background-color: honeydew;
}
.header1,
 .header2,
 .header3,
 .header4,
 .header5,
 .header6,
 .header7 {
     display: inline-block;
     color: grey;
     padding: 10px;
 }
.header1:hover,
.header2:hover,
.header3:hover,
.header4:hover,
.header6:hover,
.header7:hover {
    color: red;
    cursor: pointer;
}
span:hover {
    color: red;
    cursor: pointer;
}
span {
    color: green;
}
.header6,
.header7 {
    background-color: green;
    color: white;
}
.flag {
    width: 20px;
}
.header5 {
    margin-left: 290px;
}
.nav{
    margin-top: 30px;
}
.headphone {
    float: left;
    font-size: 30px;
    margin-right: 10px;
    color: green;
}
.nav1,
.nav2,
.nav3 {
    display: inline-block;
}
.headphone:hover {
    cursor: pointer;
    color: red;
}
.nav2 {
    background-color: gainsboro;
    padding: 5px;
    margin-left: 700px;
}
.nav3 {
    background-color: gainsboro;
    padding: 5px;
}
.fa-envelope:hover {
    cursor: pointer;
    color: deeppink;
}
.fa-phone:hover {
    color: blue;
    cursor: pointer;
}
.support {
    color: green;
    display: inline-block;
    margin-right: 10px;
}
.support2 {
    display: inline-block;
}
.venedor {
    margin-bottom: -42px;
}
.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8 {
    display: inline-block;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
}
.line1:hover,
.line2:hover,
.line3:hover,
.line4:hover,
.line5:hover,
.line6:hover,
.line8:hover {
    cursor: pointer;
    color: red;
}
.search {
    display: inline-block;
    font-size: 25px;
}
.fa-search:hover {
    cursor: pointer;
    color: red;
}
.fa-search {
    color: white;
    background-color: green;
    font-size: 26px;
    vertical-align: middle;
}
input {
    height: 20px;
    margin-bottom: 10px;
}
.line8 {
    background-color:green;
    color: white;
    padding: 5px;
}
.line7 {
    margin-left: 250px;
}