.header-container{
    height: 5px;
    weight: 200px;
    background-color: #7bae21;
}
.header-banner1{
    border: 1px solid #f5f5f5;
    padding: 5px 0px 5px 160px;
    background-color: #f5f5f5;

}

.glyphicon  {
    color: #b7b7b7;
}

.logo{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 160px;
}
.US {
    border-style: solid;
    border-width: 5px;
    background-color: #7bae21;
    display:inline-block;
    border-color: #7bae21;
    color: white;
    font-size: 13px;
}

!2English {
    border-style: solid;
    border-width: 5px;
    background-color: #7bae21;
    display:inline-block;
    border-color: #7bae21;
    color: white;
    font-size: 13px;
}

select {border-style: solid;
    border-width: 5px;
    background-color: #7bae21;
    display:inline-block;
    border-color: #7bae21;
    color: white;
    font-size: 13px;
}










.container1{
    border: 1px silver solid;

    display:inline-block;
    background-color: #f5f5f5;
    padding: 10px;
}

nav{
height: 50px;
}
nav ul{
    list-style: none;
}
nav ul li a{
    float: left;
    text-decoration: none;
    color:black;
    padding: 10px 30px;
    font-size: 16px;}
nav ul li a:hover {
    color: #7bae21;
    text-decoration: none;
}
input[type=text] {
    float: left;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 40px;
}
