.header-container{
    height: 5px;
    width: 200px;
    background-color: #7bae21;
}
.header-banner1{
    border: 1px solid #f5f5f5;
    padding: 5px 0 5px 160px;
    background-color: #f5f5f5;
}
.glyphicon{color:#7bae21;}
.icon-success {color: #7bae21;}

.glyphicon-user{color: silver;}
.glyphicon-shopping-cart{color: silver;}
.glyphicon-ok{color: silver;}
.logo{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 160px;
}
.container1{
    border: 1px silver solid;
    display:inline-block;
    background-color: #f5f5f5;
    padding: 5px 10px 1px 5px;
}
.container2{
    border: 1px silver solid;
    display:inline-block;
    background-color: #f5f5f5;
    padding: 5px 10px 1px 5px;
}
nav{
height: 50px;
}
nav ul{
    padding: 0 0 0 150px;
    list-style: none;
}
nav ul li a{
    float: left;
    text-decoration: none;
    color:black;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 16px;}
nav ul li a:hover {
    color: #7bae21;
    text-decoration: none;
}
input[type=text] {
    float: left;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 40px;
}


.purchase{
}
.w3-btn {width:150px;
background-color: #7bae21;}
.w3-border {
    border: 1px solid #7bae21!important;
    display:inline-block;}
.icon-success {
    color: #7bae21;
}
.glyphicon-search{
color:  white;
background-color:#7bae21 ;
}
#txtbox{
    border: 1px solid silver;
    padding-left: 22px;
    font-size:14px;
    height:33px;
    width:155px;
    padding-top: 2px;
    display:inline-block;
}
#txtbox2{
    border: 1px solid silver;
    height:33px;
    padding: 8px;
    margin-bottom:15px;
    display:inline-block;
    margin-left:-3px;
    margin-right: -10px;
}
p{
z-index: 10000;
font-size: 100px;
text-align: center;
    position: absolute;
    padding-top: 100px;
    width: 20%;
    color: white;
}
.slider{
    overflow: hidden;
    height: auto;
}
.slider figure div{
width: 20%;
    float: left;
}
.slider figure img{
width: 100%;
    float: left;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 50s slidy infinite;
}
@keyframes slidy{
    0%{  left: 0;}
    10%{ left: 0;}
    15%{ left: -100%;}
    22%{ left: -100%;}
    30%{ left: -200%;}
    35%{ left: -200%;}
    40%{ left: -300%;}
    45%{ left: -300%;}
    50%{ left: -400%;}
    56%{ left: -400%;}
    60%{ left: -400%;}
    65%{ left: -300%;}
    71%{ left: -300%;}
    78%{ left: -200%;}
    85%{ left: -200%;}
    90%{ left: -100%;}
    94%{ left: -100%;}
    99%{ left: 0;}
}
#navMenu{
    margin:0;
    padding: 0;
}
 #navMenu ul{
     margin:0;
     padding: 0;
     line-height: 28px;
 }
 #navMenu li{
     margin:2px;
     padding: 1px;
     list-style: none;
     float: left;
     position: relative;
     background: #7bae21;
     border-radius: 6px;
 }
 #navMenu ul li a{
     border: 1px solid silver;
     text-align: center;
     border-radius: 6px;
     text-decoration: none;
     height: 30px;
     width: 140px;
     display: block;
     color: #444645;
}
 #navMenu ul ul{
     position: absolute;
     visibility: hidden;
     top: 31px;
 }
 #navMenu ul li:hover ul{
     visibility: visible;

 }
 #navMenu li:hover{
     background: #7bae21;
     border-radius: 6px;
 }
 #navMenu ul li:hover ul li a:hover{
     background: #7bae21;
     color: white;
 }
 #navMenu a:hover{
     color: white;
 }
 #navMenu ul li ul li{
     display: none;
 }
#navMenu ul li:hover ul li{
    display: block;
    background: #f5f5f5;
}

.clearFloat{
    clear: both;
    margin: 0;
    padding: 0;
}

.down-bar{
    height: 205px;
    width: 200px;
    background-color: white;
}
.down-bar2{
    height: 105px;
    width: auto;
    background-color: #7bae21;
    color:#444645;

}
.down-bar3{
    height: 405px;
    width: 100%;
    background-color: #444645;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.one{
    box-sizing: border-box;
    color: silver;
    width: 255px;
    height: 205px;
    vertical-align: baseline;
    float: left;
    display: inline-block;
    margin: 10px;
    padding:0;
    margin-left: 50px;
    margin-top: 50px;
}
.one ul li{
    margin-left: -25px;
}
.one ul li a{
    color: silver;
    text-decoration: none;}
.one ul li a:hover {
    color: #779b34;
}
.Zero{margin-left: 140px;
}

