

body {
    margin: 0 auto;
    max-width: 1200px;

}

.horizontal {
    background-color:green;
    width:100%;
    height:10px;
}

.header {
    float:left;

}

.text {
    float:right;
    margin-left: 10px;
}

.img {
    float:left;
    margin-top: 20px;
}

.contact {
    float:right;
    margin-top: 20px;

}

.nav {
    display:inline-block;
    margin-top: 20px;
}
.mobile{
    border:solid 1px grey;
    background-color: lightgrey;
    width:1150px;
}
.img-responsive {
    display:inline-block;

}
.text {
    color:grey;
}

.home {
    margin-top: 10px;
}

.menu {
    margin: 10px;
}

.pagination {
    float:right;
}
.product{
    display:inline-block;
    width: 33%;
    text-align: center;
    position: relative;
    padding: 5px;
}
.content {
    width: 900px;
    float: left;
}
.oval {
    border-radius: 100%;
    padding: 30px 25px;
    background-color:#5cb85c;;
    width: 70px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;

}
.aside {
    width: 200px;
    float: right;
    margin-top: 10px;
}

.prefooter{
    border:solid 2px #0FB532  ;
    background-color: #0FB532  ;
    width:100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color:lightgreen;
}

.footer {
    display:flex;
    background-color: grey;
}
.myaccount {
    display: inline-block;
    background-color: grey;
    color:white;
    width:24%;

}