body{
    
}
.menu{ background-color:#F5F5F5;
    height:35px;
    width:100%;

}
.nav-justified{
   width:80%;
   margin:auto;

}
.glyphicon{
    color: dimgrey;

}
p.welcome{
	width:360px;
	margin:auto;
}
#header{
	padding: 2% 10%;


}
div.panel {
	width:200px;
	height:40px;
	padding:0;
	float:right;
	margin: 3px;

}
.glyphicon-phone-alt{
	
}
.phone{
	list-style: none;
}