

body {
    margin: 0 auto;
    max-width: 1200px;

}

.horizontal {
    background-color:green;
    width:100%;
    height:10px;
}

.header {
    float:left;

}

.text {
    float:right;
    margin-left: 10px;
}

.img {
    float:left;
    margin-top: 20px;
}

.contact {
    float:right;
    margin-top: 20px;

}

.nav {
    display:inline-block;
    margin-top: 20px;
}
.mobile{
    border:solid 1px grey;
    background-color: lightgrey;
    width:1150px;
}
.img-responsive {
    display:inline-block;
    margin-left: 100px;
}
.text {
    color:grey;
}

.home {
    margin-top: 10px;
}

.menu {
    margin: 10px;
}

.pagination {
    float:right;
}
.product{
    display:inline-block;
    width: 33%;
    text-align: center;
}
ul {
    list-style: none;
 }
.content {
    width: 940px;
    float: left;
}
.aside {
    width: 200px;
    float: right;
}

.myaccount {
    display: inline-block;
}